@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes morph {
  0% {
    d: path("M421.1,319.3Q385.55,388.6,319.3,413.8Q253.05,439,196.4,389.65Q139.75,340.3,135.15,270.65Q130.55,201,185.15,158.9Q239.75,116.8,306.3,115.05Q372.85,113.3,415.25,171.15Q457.65,229,421.1,319.3Z");
  }
  50% {
    d: path("M400,300Q350,400,275,400Q200,400,160,330Q120,260,170,190Q220,120,300,140Q380,160,420,230Q460,300,400,300Z");
  }
  100% {
    d: path("M421.1,319.3Q385.55,388.6,319.3,413.8Q253.05,439,196.4,389.65Q139.75,340.3,135.15,270.65Q130.55,201,185.15,158.9Q239.75,116.8,306.3,115.05Q372.85,113.3,415.25,171.15Q457.65,229,421.1,319.3Z");
  }
}

.animated-blob path {
  animation: morph 15s infinite ease-in-out;
}


